{"classname":"{{classname}}","operations":[{{#operations}}{{#operation}}
{"id":"{{operationId}}","originalId":"{{operationIdOriginal}}","returnType":"{{{returnType}}}","params":[{{#allParams}}
{"name":"{{paramName}}","wireName":"{{baseName}}","type":"{{{dataType}}}","required":{{#required}}true{{/required}}{{^required}}false{{/required}},"nullable":{{#isNullable}}true{{/isNullable}}{{^isNullable}}false{{/isNullable}},"body":{{#isBodyParam}}true{{/isBodyParam}}{{^isBodyParam}}false{{/isBodyParam}},"path":{{#isPathParam}}true{{/isPathParam}}{{^isPathParam}}false{{/isPathParam}},"query":{{#isQueryParam}}true{{/isQueryParam}}{{^isQueryParam}}false{{/isQueryParam}},"header":{{#isHeaderParam}}true{{/isHeaderParam}}{{^isHeaderParam}}false{{/isHeaderParam}}}{{^-last}},{{/-last}}{{/allParams}}]}{{^-last}},{{/-last}}{{/operation}}{{/operations}}]}
