/*
Macrofold API

Manage persistent projects, run cloud agents, stream progress, and integrate tools, billing, and operator reporting. Provider-owned OAuth, internal runtime ingress, and MCP JSON-RPC use separate contracts.

API version: 0.9.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package macrofold

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CheckpointsAPIService CheckpointsAPI service
type CheckpointsAPIService service

type ApiExportCheckpointRequest struct {
	ctx context.Context
	ApiService *CheckpointsAPIService
	checkpointId string
	idempotencyKey *string
	checkpointExportRequest *CheckpointExportRequest
	xOrganizationId *string
}

func (r ApiExportCheckpointRequest) IdempotencyKey(idempotencyKey string) ApiExportCheckpointRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r ApiExportCheckpointRequest) CheckpointExportRequest(checkpointExportRequest CheckpointExportRequest) ApiExportCheckpointRequest {
	r.checkpointExportRequest = &checkpointExportRequest
	return r
}

// Authorized membership selector for user tokens/sessions; cannot override API-key organization binding. Required when identity has multiple memberships and no selected grant context.
func (r ApiExportCheckpointRequest) XOrganizationId(xOrganizationId string) ApiExportCheckpointRequest {
	r.xOrganizationId = &xOrganizationId
	return r
}

func (r ApiExportCheckpointRequest) Execute() (*ExportOperation, *http.Response, error) {
	return r.ApiService.ExportCheckpointExecute(r)
}

/*
ExportCheckpoint Export a Git bundle or portable checkpoint archive

Bounded trusted maintenance task with quota checks. Poll getOperation; successful checkpoint_export results match CheckpointExport. No inference runs.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param checkpointId
 @return ApiExportCheckpointRequest
*/
func (a *CheckpointsAPIService) ExportCheckpoint(ctx context.Context, checkpointId string) ApiExportCheckpointRequest {
	return ApiExportCheckpointRequest{
		ApiService: a,
		ctx: ctx,
		checkpointId: checkpointId,
	}
}

// Execute executes the request
//  @return ExportOperation
func (a *CheckpointsAPIService) ExportCheckpointExecute(r ApiExportCheckpointRequest) (*ExportOperation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExportOperation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.ExportCheckpoint")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkpoints/{checkpoint_id}/exports"
	localVarPath = strings.Replace(localVarPath, "{"+"checkpoint_id"+"}", url.PathEscape(parameterValueToString(r.checkpointId, "checkpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return localVarReturnValue, nil, reportError("idempotencyKey is required and must be specified")
	}
	if strlen(*r.idempotencyKey) < 8 {
		return localVarReturnValue, nil, reportError("idempotencyKey must have at least 8 elements")
	}
	if strlen(*r.idempotencyKey) > 200 {
		return localVarReturnValue, nil, reportError("idempotencyKey must have less than 200 elements")
	}
	if r.checkpointExportRequest == nil {
		return localVarReturnValue, nil, reportError("checkpointExportRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Idempotency-Key", r.idempotencyKey, "simple", "")
	if r.xOrganizationId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Organization-Id", r.xOrganizationId, "simple", "")
	}
	// body params
	localVarPostBody = r.checkpointExportRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateCheckpointRetentionRequest struct {
	ctx context.Context
	ApiService *CheckpointsAPIService
	checkpointId string
	checkpointPatch *CheckpointPatch
	xOrganizationId *string
}

func (r ApiUpdateCheckpointRetentionRequest) CheckpointPatch(checkpointPatch CheckpointPatch) ApiUpdateCheckpointRetentionRequest {
	r.checkpointPatch = &checkpointPatch
	return r
}

// Authorized membership selector for user tokens/sessions; cannot override API-key organization binding. Required when identity has multiple memberships and no selected grant context.
func (r ApiUpdateCheckpointRetentionRequest) XOrganizationId(xOrganizationId string) ApiUpdateCheckpointRetentionRequest {
	r.xOrganizationId = &xOrganizationId
	return r
}

func (r ApiUpdateCheckpointRetentionRequest) Execute() (*Checkpoint, *http.Response, error) {
	return r.ApiService.UpdateCheckpointRetentionExecute(r)
}

/*
UpdateCheckpointRetention Pin or unpin a retained checkpoint

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param checkpointId
 @return ApiUpdateCheckpointRetentionRequest
*/
func (a *CheckpointsAPIService) UpdateCheckpointRetention(ctx context.Context, checkpointId string) ApiUpdateCheckpointRetentionRequest {
	return ApiUpdateCheckpointRetentionRequest{
		ApiService: a,
		ctx: ctx,
		checkpointId: checkpointId,
	}
}

// Execute executes the request
//  @return Checkpoint
func (a *CheckpointsAPIService) UpdateCheckpointRetentionExecute(r ApiUpdateCheckpointRetentionRequest) (*Checkpoint, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Checkpoint
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CheckpointsAPIService.UpdateCheckpointRetention")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/checkpoints/{checkpoint_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"checkpoint_id"+"}", url.PathEscape(parameterValueToString(r.checkpointId, "checkpointId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.checkpointPatch == nil {
		return localVarReturnValue, nil, reportError("checkpointPatch is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xOrganizationId != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Organization-Id", r.xOrganizationId, "simple", "")
	}
	// body params
	localVarPostBody = r.checkpointPatch
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
